services:
  coredns:
    container_name: dns-cache
    image: tomtonic/coredns-fanout:latest
    command: -conf /etc/coredns/Corefile
    network_mode: host
    volumes:
      - .:/etc/coredns
    ports:
      - 53:53/udp # DNS over UDP ("normal" DNS)
      - 53:53/tcp # DNS over TCP
    restart: always
